html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0; 
  height: 100vh;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  align-self: flex-start;
}

a {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  color: inherit;
  text-decoration: none;
}

#main-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.todo-container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex: 2;
}

.todo-container p {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
}