body {
  background-color: black;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input {
  margin-bottom: 1rem;
}

.todo-container {
  display: flex;
}